.infoButton {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  padding: 10x;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  border-radius: 50%; /* Make the button circular */
  width: 23px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 
    }
.infoButton i {
  font-style: italic;
  font-family: serif;
}
.infoButton.active {
  background-color: black;
  color: white;
}
.infoText {
  margin-left: 10px;
  color: black;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 10;
  padding-bottom: 10px;
  justify-content: center; /* Center align the text */
}